* {
  /* developement  color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: 1.05em; }

body, main, div {
  height: 100%;
  width: 100%; }

body {
  background-image: url(http://amigosdarussia.com/wp-content/uploads/2015/07/russia-serbia-brotherhood-2500613-1920x1200.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  text-align: center;
  padding: 15% 0 15% 0;
  background-color: rgba(0, 57, 166, 0.5); }
  header h1 {
    background-color: #D52B1E; }

main img {
  width: 40%;
  min-width: 200px;
  margin: 5% 30% 5% 30%;
  display: inline-block; }

main article {
  width: 90%;
  margin: 5%;
  padding: 5%;
  background-color: white;
  border: 3px solid #0039A6; }
  main article span, main article a, main article p, main article textarea {
    margin: 5%; }
  main article p {
    padding: 5%;
    background-color: rgba(0, 57, 166, 0.5); }
  main article textarea {
    color: #D52B1E;
    background-color: rgba(0, 57, 166, 0.5);
    border: 1px solid #D52B1E;
    padding: 1%; }
  main article h1, main article h2, main article h3 {
    padding-left: 5%;
    background-color: rgba(213, 43, 30, 0.5); }

textarea {
  width: 100%;
  max-width: 700px; }

footer {
  background-color: blue;
  text-align: right; }
  footer address {
    padding-right: 5%; }
  footer img {
    width: 100%; }

/*# sourceMappingURL=hacks.css.map */
