$red: #D52B1E;
$blu: #0039A6;
$halfBlu: rgba(0,57,166,0.5);
$halfRed: rgba(213,43,30,0.5);

*
{
    /* developement  color */
    //background-color: rgba(0,0,0,0.1);
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 1.05em;
}

body, main, div
{
    height: 100%;
    width: 100%;
}

body
{
    background-image: url(http://amigosdarussia.com/wp-content/uploads/2015/07/russia-serbia-brotherhood-2500613-1920x1200.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header
{
    h1
    {
        background-color: $red;
    }
    text-align: center;
    padding: 15% 0 15% 0;
    background-color: $halfBlu;
}

main img
{
    width: 40%;
    min-width: 200px;
    margin: 5% 30% 5% 30%;
    display: inline-block;
}

main article
{
    width: 90%;
    margin: 5%;
    padding: 5%;
    background-color: white;
    border: 3px solid $blu;
    span, a, p, textarea
    {
        margin: 5%;
    }
    p
    {
        padding: 5%;
        background-color: $halfBlu;
    }
    textarea
    {
        color: $red;
        background-color: $halfBlu;
        border: 1px solid $red;
        padding: 1%;
    }
    h1, h2, h3
    {
        padding-left: 5%;
        background-color: $halfRed;
    }
}

textarea
{
    width: 100%;
    max-width: 700px;
}

footer
{
    background-color: blue;
    text-align: right;
    address
    {
        padding-right: 5%;
    }
    img
    {
        width: 100%;
    }
}