$red: #E0162B;
$blu: #0052A5;

@mixin clickable()
{
    cursor: pointer;
    cursor: hand;
}

@font-face
{
    font-family: montserrat;
    src: url('fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face
{
    font-family: crimsonText;
    src: url('fonts/crimsontext/crimsonText-Regular.ttf');
}

*
{
    /* developement  color */
    //background-color: rgba(0,0,0,0.1);
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: crimsonText;
}

body, div, article
{
    height: 100%;
    width: 100%;
}

main
{
    height: 70%;
    width: 100%;
    background-image: url(http://cdn.wallpapersafari.com/22/10/hf4j6W.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

header
{
    height: 40%;
    width: 100%;
    padding: 20% 0 20% 0;
    background-image: url(http://wallpapercave.com/wp/KNwIAXz.jpg);
    #title
    {
        font-size: 4em;
        color: white;
        font-family: montserrat;
        //background-color: $red;
        color: $red;
        text-align: center;
    }
}

.button
{
    font-size: 2em;
    color: white;
    padding: 1%;
    background-color: $blu;
    @include clickable();
}

.button:hover
{
    background-color: $red;
}

form
{
    background-color: rgba(255,255,255,0.6);
    margin-bottom: 1%;
}

#voteform
{
    padding: 2.5% 10% 2.5% 10%;
    min-height: 50%;
    max-width: 1200px;
    margin: auto;
    h1
    {
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        padding: 1% 0 1% 0;
        color: $blu;
        background-color: white;
    }
    .button
    {
        margin-top: 5%;
    }
    #options
    {
        color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.5em;
        div:nth-child(odd)
        {
            background-color: $red;
        }
        div:nth-child(even)
        {
            background-color: $blu;
        }
        .candidate
        {
            margin-bottom: 2%;
            input
            {
                padding: 2.5%;
                margin: 0 2.5% 0 2.5%;
            }
        }
        label:
        {
            width: 100%;
        }
    }
}

#postform
{
    height: 20%;
    width: 100%;
    padding: 0 10% 0 10%;
    display: inline-block;
    #username
    {
        width: 30%;
        font-size: 1.5em;
        margin-top: 2.5%;
        padding: 1%;
    }
    #comment
    {
        font-size: 1.5em;
        width: 60%;
        float: right;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        padding: 1%;
    }
    #username, #comment
    {
        border: 1.5px solid $red;
        background-color: white;
    }
    .button
    {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        bottom: 2.5%;
        float: left;
    }
}

#comments
{
    div
    {
        background-color: rgba(0,0,0,0.4);
    }
    padding: 5% 20% 5% 20%;
    div:nth-child(odd)
    {
        p
        {
            background-color: $red;
        }
    }
    div:nth-child(even)
    {
        p
        {
            background-color: $blu;
        }
    }
    .comment
    {
        padding: 2%;
        h3
        {
            padding: 1%;
            background-color: white;
            color: $blu;
        }
        p
        {
            padding: 2%;
            color: white;
        }
    }
}

footer
{
    text-align: right;
    padding-right: 5%;
    background-color: $blu;
}

#reset
{
    z-index: 200;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: rgba(0,82,165, 0.2);
    height: 5%;
    width: 5%;
    padding: 2.5% 2.5% 2.5% 1%;
    @include clickable();
    p
    {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(0,0,0,0.5);
    }
}

#reset:hover
{
    background-color: $blu;
    p
    {
        color: black;
    }
}